{% extends 'layout.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block bannerTitle %}BIENVENUE SUR CPAONBOARD{% endblock %}
{% block bannerInfo %}[Insérer le slogan de l'entreprise]]{% endblock %}

{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <main class="col">
                <div class="container">
                    <div class="row center-align">
                        <h1>Tableau de bord</h1>
                    </div>
                    <div class="row">
                        <div class="col s12 l3 admin-card" id="users-card-admin">
                            {% include 'Admin/admin_components/_employees.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="call-card-admin">
                            {% include 'Admin/admin_components/_products.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="locations-card-admin">
                            {% include 'Admin/admin_components/_users.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l3 admin-card" id="civil-card-admin">
                            {% include 'Admin/admin_components/_disagreements.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="subjects-card-admin">
                            {% include 'Admin/admin_components/_acquisitions.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="comments-card-admin">
                            {% include 'Admin/admin_components/_sales.html.twig' %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}