{% extends 'layout.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="col-12 col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">

                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Collaborateurs</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Produits</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Clients</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Litiges</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Achats</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="#"><span class="fa fa-user mr-3"> Ventes</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col">
                <div class="container">
                    <div class="row center-align">
                        <h1>Tableau de bord</h1>
                    </div>
                    <div class="row">
                        <div class="col s12 l3 admin-card" id="users-card-admin">
                            {% include 'Admin/admin_components/_employees.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="call-card-admin">
                            {% include 'Admin/admin_components/_products.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="locations-card-admin">
                            {% include 'Admin/admin_components/_users.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l3 admin-card" id="civil-card-admin">
                            {% include 'Admin/admin_components/_disagreements.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="subjects-card-admin">
                            {% include 'Admin/admin_components/_acquisitions.html.twig' %}
                        </div>
                        <div class="col s12 l3 admin-card" id="comments-card-admin">
                            {% include 'Admin/admin_components/_sales.html.twig' %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


{% endblock %}
