<footer class="page-footer font-small">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pad-foot d-flex justify-content-center">
                <div class="mb-3 icons flex-center">
                    <a class="text-decoration-none" href="" target="_blank">
                        <i class="fab fa-facebook-f color-white mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="text-decoration-none"
                       href=""
                       target="_blank">
                        <i class="fab fa-twitter color-white mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="text-decoration-none" href=""
                       target="_blank">
                        <i class="fab fa-linkedin-in color-white mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="text-decoration-none" href=""
                       target="_blank">
                        <i class="fab fa-instagram color-white fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-white text-center py-3">
        <p>Made with <i class="fas fa-heart"></i> by MYTeam !</p>
        <div class="d-flex justify-content-center mb-3">
            <ul class="text-decoration-none li-style m-0 px-0 mr-3">
                <li><a class="color-white" href="" target="_blank">Marie-Cécile.P</a></li>
                <li><a class="color-white" href="" target="_blank">Thomas Corno</a></li>
            </ul>
            <ul class="text-decoration-none li-style m-0 px-0 ml-3">
                <li><a class="color-white" href="" target="_blank">Yasmine.B</a></li>
            </ul>
        </div>
        © 2021 Copyright
        <a class="align-middle color-white" href="https://www.cesi.com" target="_blank">CESI</a>
    </div>
</footer>