<header>
    <div class="jumbotron mb-0 p-4">
{#        <H1 class="display-6">{% block bannerTitle %}{% endblock %}</H1>#}
        <H1 class="display-6">{{ bannerTitle }}</H1>
        <hr class="my-4">
    </div>
</header>