<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
    <a class="navbar-brand" href=""><img src="/assets/images/logo_cpa_on_board.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
