{% extends 'layout.html.twig' %}

{% block title %}CPA : Fiche produit{% endblock %}

{% block bannerTitle %}FICHE PRODUIT{% endblock %}



{% block content %}
    <div>
        <form method="post" action="EmployeeController.php" class="form-group">
            {% set tabIndex = 0 %}
            <div class="accordion" id="accordion">
                <div>
                    {% set titleCardToDisplay = 'identification' %}
                    {% set  idCard =  'identification' %}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'product_label',
                            'inputType': 'text',
                            'nameInput': 'productLabel',
                            'idInput': 'productLabel',
                            'labelValue': 'Référence'},

                        {
                            'record': 'price',
                            'inputType': 'text',
                            'nameInput': 'price',
                            'idInput': 'price',
                            'labelValue': 'Prix'},
                        {
                            'record': 'ratio',
                            'inputType': 'text',
                            'nameInput': 'ratio',
                            'idInput': 'ratio',
                            'labelValue': 'TVA (%)'}
                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'product_type_label',
                            'inputType': 'textarea',
                            'nameInput': 'productTypeLabel',
                            'idInput': 'productTypeLabel',
                            'labelValue': 'Désignation produit'},
                        {
                            'record': 'model',
                            'inputType': 'model',
                            'nameInput': 'model',
                            'idInput': 'model',
                            'labelValue': 'Marque'}
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'approvisionnement' %}
                    {% set  idCard =  'supply'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'stock',
                            'inputType': 'text',
                            'nameInput': 'stock',
                            'idInput': 'stock',
                            'labelValue': 'Stock'},

                    ] %}
                    {% set fieldToDisplayCol2 = [
                        {
                            'record': 'corporate_name',
                            'inputType': 'text',
                            'nameInput': 'corporateName',
                            'idInput': 'corporateName',
                            'labelValue': 'Fournisseur'},
                    ] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'marques de voitures compatibles' %}
                    {% set  idCard =  'supply'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'stock',
                            'inputType': 'text',
                            'nameInput': 'stock',
                            'idInput': 'stock',
                            'labelValue': 'Stock'},
                    ] %}
                    {% set fieldToDisplayCol2 = [] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
            </div>
                <div>
                    {% set titleCardToDisplay = 'dependances' %}
                    {% set  idCard =  'supply'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'stock',
                            'inputType': 'text',
                            'nameInput': 'stock',
                            'idInput': 'stock',
                            'labelValue': 'Stock'},
                    ] %}
                    {% set fieldToDisplayCol2 = [] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
                <div>
                    {% set titleCardToDisplay = 'Fiche produit' %}
                    {% set  idCard =  'supply'%}
                    {% set fieldToDisplayCol1 = [
                        {
                            'record': 'stock',
                            'inputType': 'text',
                            'nameInput': 'stock',
                            'idInput': 'stock',
                            'labelValue': 'Stock'},
                    ] %}
                    {% set fieldToDisplayCol2 = [] %}
                    {% set LengthArrayCol1 = fieldToDisplayCol1 | length %}
                    {% set LengthArrayCol2 = fieldToDisplayCol2 | length %}
                    {% set tabIndexBeforeCard = tabIndex %}
                    {% include '_form_components/_cardForm.html.twig'%}
                    {% set tabIndex =  tabIndex + LengthArrayCol1+LengthArrayCol2 %}
                </div>
            </div>
            {% if operation == 'edit' or operation == 'add'  %}
                <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
