@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --blueCPA: #4D9FE2;
    --lightBlackCPA: #424242;
    --darkBlackCPA: #777777;
    --whiteCPA : #EAEAEA;
    --alertCPA : #FF7F50;
}
a {
    font-family: 'Roboto', sans-serif;
}
h1, h2, nav, p {
    font-family: 'Roboto', sans-serif;
}

.pad-top {
    padding-top: 10vh;
}
.fas {
    padding: 8px;
}

.fab:hover {
    color: var(--lightBlackCPA);
}
.footer-copyright a:hover {
    color: var(--lightBlackCPA);
}

.fa-heart {
    color: var(--lightBlackCPA);
}
.color-white {
    color: var(--whiteCPA);
}

.far {
    height: 20px;
}
.pad-foot {
    padding-top: 60px;
}
.page-footer {
    background-color: var(--blueCPA);
}

.li-style {
    list-style-type: none;
}
.li-style a {
    text-decoration: none;
}
.overflow-auto {
    height: 60vh;
}

.card-img-top {
    width: 167px;
}

.admin-card a,a:hover {
    color: #212529;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .heading {
        display: flex;
        justify-content: center;
    }
    .nav-link {
        font-size: 9px;
    }
}
@media screen and (max-width: 571px) {
    .title-pl h2 {
        text-align: center;
    }
    .nav-link {
        font-size: 9px;
        color:red;
    }
}

.btn-primary {
    background-color: var(--blueCPA);
    border-color: var(--blueCPA);
}

.btn-danger {
    background-color: var(--alertCPA);
    border-color: var(--alertCPA);
}

.page-link.selected {
    color: var(--alertCPA);
}

.card-header.uppercase {
    text-transform: uppercase;
}

.nav-link {
    color: var(--lightBlackCPA);
    margin-bottom: 30px;
    font-size:13px
}

.navbar-list-products {
    background-color: #EEEEEE;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

th .fas, .far {
    color: var(--lightBlackCPA);
    font-size: 20px;
}

.fas, .far {
    color: var(--lightBlackCPA);
    font-size: 20px;
}
.edit-btn-customer {
    background-color: var(--blueCPA);
    width: 208px;
    margin-left: 1000px;
    margin-bottom: 30px;
}

#sidebarMenu .nav-item.active > .nav-link, #sidebarMenu .nav-link:hover, #sidebarMenu .nav-second-level li.active > .nav-link:hover {
    color: #000;
    background-color: #dee2e6;
    border-left: 4px solid var(--blueCPA);
}

