<a href="/litigation/index/1">
    <div class="card cardContainer">
        <div class="cardContent">
            <div class="d-flex" style="justify-content: center">
                <img class="card-img-top" src="/assets/images/undraw_warning_cyit.svg" alt="Card image cap">
            </div>
            <h5 class="card-title mt-4 text-center">LITIGES</h5>
        </div>
    </div>
</a>