<a href="/employee/index/1">
    <div class="card p-5">
        <div class="d-flex" style="justify-content: center">
            <img class="card-img-top" src="/assets/images/undraw_Hire_re_gn5j.svg" alt="Card image cap">
        </div>
        <h5 class="card-title mt-4 text-center">COLLABORATEURS</h5>
    </div>
</a>