<div class="card m-2" style="width: 18rem;">
    <div class="d-flex" style="justify-content: center">
    <img class="card-img-top" src="/assets/images/undraw_contract_uy56.svg" alt="Card image cap">
    </div>
    <div class="card-body">
        <h5 class="card-title">Ventes</h5>
        <p class="card-text">Some quick example text to build on.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>