<a href="/employee/showEmployees">
    <div class="card cardContainer">
        <div class="cardContent">
            <div class="d-flex" style="justify-content: center">
                <img class="card-img-top" src="/assets/images/undraw_Savings_re_eq4w.svg" alt="Card image cap">
            </div>
            <h5 class="card-title mt-4 text-center">VENTES</h5>
        </div>
    </div>
</a>